**/.github
**/.git
!**/.git/HEAD
!**/.git/refs/heads
**/.gitignore
**/.gitmodules
**/.idea
**/.vscode
**/.vscode
**/frontend
**/docs
**/storage
**/internal/.*
**/internal/spx*
**/internal/tmp
**/proxy/internal/*
**/Dockerfile.*
**/*.md
**/examples/plugins
**/examples/plugins/**
**/dev
**/vendor
