**/.github
**/.git
**/.gitignore
**/.gitmodules
**/.idea
**/.vscode
.env
.env.local
.env.*.local
**/frontend
!frontend/
frontend/*
!frontend/package.json
!frontend/pnpm-lock.yaml
!frontend/pnpm-workspace.yaml
!frontend/.npmrc
**/docs
**/storage
storage/
storage/**
**/internal/.*
**/internal/spx*
**/internal/tmp
**/internal/app_ver
**/internal/startup/*.txt
**/proxy/internal/*
**/Dockerfile.*
**/*.md
**/examples/plugins
**/examples/plugins/**
**/dev
**/vendor
tests/
bootstrap/cache/*.php
firebase-debug.log
libcamera
libcamera_*.orig.tar.xz
