APP_NAME="WPrint 3D"
APP_ENV=local
APP_KEY=base64:jWkxRY9KE6U/bMK0fi5+X+upgecZgM1wklevQvpOqZk=
APP_DEBUG=true
APP_HOST=192.168.0.88
APP_URL=https://${APP_HOST}
ASSET_URL=https://${APP_HOST}

ASSETS_WATCHER_ENABLED=true

OCTANE_ENABLED=true
OCTANE_SERVER=swoole

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mongodb
DB_HOST=mongo
DB_PORT=27017
DB_DATABASE=wprint3d

BROADCAST_DRIVER=pusher
CACHE_DRIVER=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

PUSHER_APP_ID=wp3d
PUSHER_APP_KEY=8e4a69fe4518c9bc001fcfe23bdc767e
PUSHER_APP_SECRET=d08a96d3aaf22f860620987ea35f43d1bedf3b67ca2d490ab28ccd892b530e39387548b70df8a25c635beb0964e1a72621d984f93f4b628c660e12098d0c6312
PUSHER_HOST=ws-server
PUSHER_PORT=6001
PUSHER_SCHEME=http
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

WEBCAM_BASE_URL=https://${APP_HOST}/video

GRIDFS_STORAGE_NAME = uploads

BASE_FILES_DIR = gcode

# TODO: Re-enable Telescope
#
# TELESCOPE_ENABLED=false
# TELESCOPE_DB_CONNECTION=telescope
# TELESCOPE_DB_HOST=mariadb
# TELESCOPE_DB_PORT=3306
# TELESCOPE_DB_DATABASE=telescope
# TELESCOPE_DB_USERNAME=root
# TELESCOPE_DB_PASSWORD=

MARLIN_COMMANDS_FILENAME=marlin_commands.json
MARLIN_GENERATED_ENUM_FILENAME=Marlin.php

CACHE_MAX_LINE_KEY = mline

PRINTER_NEGOTIATION_TIMEOUT_SECS=4
PRINTER_NEGOTIATION_MAX_RETRIES=3
PRINTER_COMMAND_TIMEOUT_SECS=60
PRINTER_RUNNING_TIMEOUT_SECS=3
PRINTER_LAST_SEEN_ONLINE_THRESHOLD_SECS=5
PRINTER_LAST_SEEN_POLL_INTERVAL_SECS=5
PRINTER_AUTO_SERIAL_INTERVAL_SECS=2
PRINTER_CONTROL_DISTANCE_MIN=1
PRINTER_CONTROL_DISTANCE_MAX=100
PRINTER_CONTROL_DISTANCE_DEFAULT=10
PRINTER_CONTROL_FEEDRATE_MAX=10000
PRINTER_CONTROL_FEEDRATE_MIN=500
PRINTER_CONTROL_FEEDRATE_DEFAULT=1500
PRINTER_CONTROL_EXTRUSION_FEEDRATE=50
PRINTER_CONTROL_EXTRUSION_MIN_TEMP=170

PRINTING_STATISTICS_QUERY_INTERVAL_SECS=5

SERIAL_DEBUG = false

TERMINAL_MAX_LINES = 512

LIB_CAMERA_ENABLED = true

HAPTICS_ENABLED = true

JOB_BACKUP_INTERVAL = NEVER
JOB_BACKUP_RESTORE_TIMEOUT_SECS = 30
JOB_BACKUP_RESTORE_HOMING_TEMPERATURE = 150